@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 52% 90%; /* #DDE6ED */
    --foreground: 210 32% 23%; /* #27374D */

    --card: 210 52% 90%; /* #DDE6ED */
    --card-foreground: 210 32% 23%; /* #27374D */

    --popover: 210 52% 90%; /* #DDE6ED */
    --popover-foreground: 210 32% 23%; /* #27374D */

    --primary: 210 32% 23%; /* #27374D */
    --primary-foreground: 210 52% 90%; /* #DDE6ED */

    --secondary: 210 27% 42%; /* #526D82 */
    --secondary-foreground: 210 32% 23%; /* #27374D */

    --muted: 210 26% 68%; /* #9DB2BF */
    --muted-foreground: 210 27% 42%; /* #526D82 */

    --accent: 210 27% 42%; /* #526D82 */
    --accent-foreground: 210 32% 23%; /* #27374D */

    --destructive: 210 26% 68%; /* #9DB2BF */
    --destructive-foreground: 210 32% 23%; /* #27374D */

    --success: 120 50% 40%; /* #339933 */
    --success-foreground: 210 52% 90%; /* #DDE6ED */

    --error: 0 70% 50%; /* #d92626 */
    --error-foreground: 210 52% 90%; /* #DDE6ED */

    --border: 210 52% 90%; /* #DDE6ED */
    --input: 210 52% 90%; /* #DDE6ED */
    --ring: 210 32% 23%; /* #27374D */

    --radius: 0.5rem;
    --scroll-size: 0rem;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased; /* for safari & chrome */
    -moz-osx-font-smoothing: grayscale; /* for firefox */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }

  body {
    @apply bg-background font-default text-foreground;

    scrollbar-gutter: stable;
    text-rendering: optimizeLegibility;
  }

  button,
  a {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-secondary;
  }

  ::selection {
    @apply bg-primary text-white;
  }

  /* width */
  ::-webkit-scrollbar {
    width: var(--scroll-size);
    height: var(--scroll-size);
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply rounded-md bg-primary/20;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-primary/80 transition-colors duration-200 ease-in-out;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}

@layer utilities {
  .auto-grid {
    --min-col-size: 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 100%), 1fr));
  }
}
