@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 52% 90%; /* #DDE6ED */
    --foreground: 210 32% 23%; /* #27374D */

    --card: 210 52% 90%; /* #DDE6ED */
    --card-foreground: 210 32% 23%; /* #27374D */

    --popover: 210 52% 90%; /* #DDE6ED */
    --popover-foreground: 210 32% 23%; /* #27374D */

    --primary: 210 32% 23%; /* #27374D */
    --primary-foreground: 210 52% 90%; /* #DDE6ED */

    --secondary: 210 27% 42%; /* #526D82 */
    --secondary-foreground: 210 32% 23%; /* #27374D */

    --muted: 210 26% 68%; /* #9DB2BF */
    --muted-foreground: 210 27% 42%; /* #526D82 */

    --accent: 210 27% 42%; /* #526D82 */
    --accent-foreground: 210 32% 23%; /* #27374D */

    --destructive: 210 26% 68%; /* #9DB2BF */
    --destructive-foreground: 210 32% 23%; /* #27374D */

    --border: 210 52% 90%; /* #DDE6ED */
    --input: 210 52% 90%; /* #DDE6ED */
    --ring: 210 32% 23%; /* #27374D */

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 32% 23%; /* #27374D */
    --foreground: 210 52% 90%; /* #DDE6ED */

    --card: 210 32% 23%; /* #27374D */
    --card-foreground: 210 52% 90%; /* #DDE6ED */

    --popover: 210 32% 23%; /* #27374D */
    --popover-foreground: 210 52% 90%; /* #DDE6ED */

    --primary: 210 52% 90%; /* #DDE6ED */
    --primary-foreground: 210 32% 23%; /* #27374D */

    --secondary: 210 27% 42%; /* #526D82 */
    --secondary-foreground: 210 52% 90%; /* #DDE6ED */

    --muted: 210 26% 68%; /* #9DB2BF */
    --muted-foreground: 210 52% 90%; /* #DDE6ED */

    --accent: 210 26% 68%; /* #9DB2BF */
    --accent-foreground: 210 32% 23%; /* #27374D */

    --destructive: 0 84% 60%; /* Red (example destructive color) */
    --destructive-foreground: 210 52% 90%; /* #DDE6ED */

    --border: 210 27% 42%; /* #526D82 */
    --input: 210 27% 42%; /* #526D82 */
    --ring: 210 52% 90%; /* #DDE6ED */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-default text-foreground;
  }
  button,
  a {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-secondary;
  }
}
